name: Generate Image

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"     # ← pip キャッシュ

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Generate Thumbnail Image
      run: python spl3_schedule_ver0.py
