name: Post to Bluesky

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  post-bsky:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      # === 最新画像 artifact を取得 ===
      - name: Download latest image artifact
        uses: actions/download-artifact@v4
        with:
          name: schedule-image
          path: Thumbnail

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: pip install requests Pillow pytz

      - name: Post to Bluesky
        env:
          BSKY_USER: ${{ secrets.BSKY_USER }}
          BSKY_PASS: ${{ secrets.BSKY_PASS }}
          IMAGE_PATH: Thumbnail/Thumbnail.png
        run: python post_bluesky.py
