name: Post to Bluesky

on:
  workflow_dispatch:

jobs:
  post-bsky:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: "pip"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Post to Bluesky
      env:
        BSKY_USER: ${{ secrets.BSKY_USER }}
        BSKY_PASS: ${{ secrets.BSKY_PASS }}
      run: python post_bluesky.py
