name: Post to Misskey

on:
  workflow_dispatch:
    inputs:
      artifact_run_id:
        required: true
        type: string

permissions:
  contents: read

jobs:
  post-misskey:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: schedule-image
          path: Thumbnail
          repository: gamebearonline-web/spl3_X_Bot
          run-id: ${{ github.event.inputs.artifact_run_id }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Post to Misskey
        env:
          MISSKEY_TOKEN: ${{ secrets.MISSKEY_TOKEN }}
          IMAGE_PATH: Thumbnail/Thumbnail.png
        run: python post_misskey.py
